*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
/* header started */
header{
    font-size: 25px;
    font-weight: 500;
}
.right1 ul{
    display: flex;
    justify-content: space-between;
        }
nav{
    background-color: rgb(192, 216, 216);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;

}
nav ul li a:hover{
   color: red;
   font-size:1.7rem;

}
/* header done */
/* section 1 started */
.right1{
    width: 60%;
    margin-right: 20px;
}
.left1{
    margin-left: 180px;
    width: 20%;
    font-size: 30px;
    font-weight: bolder;
}
#fend{
    color: blue;
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
    padding-left: 140px;
    height: 400px;
}
.rightS1 img{
    height: 60%;
    width: 60%;
    transition: 0.4s;
    border-radius: 5px;
}
.rightS1 img:hover{
    scale: 1.1;
}
.rightS1{
    width: 40%;
}
.leftS1{
    width: 50%;
    margin-top: 20px;
}
.leftS1 .fzD1{
font-size: 45px;
font-weight: bold;
}
.Experience{
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
}
.leftS1 .fzD2{
    font-size: 28px;
    }
    #element{
        color: red;
    }
/* section 1 done */
/* section 2 started */
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
/* section 2 done */
/* section 3 start */
.section3{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 50px;
    padding-left: 100px;
}
.rightS3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftS3{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}
.leftS3 img{
    width: 80%;
}
.Skills{
display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
font-weight: bolder;
text-decoration: underline;
}
.rightS3{
    width: 50%;
    margin-top: 20px;
    
}
.s{
    height: 75px;
    width: 75px;
    list-style-type: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s a{
    text-decoration: none;
    height: 75px;
    width: 75px;
    list-style-type: none;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s img{
height: 45px;
width: 40px;
transition:0.4s;
margin-bottom: 5px;
}
.s img:hover{
  scale: 1.3;
    }
/* section 3 done */
/* section 4 start */
.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
    height: 400px;
}
.Project{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bolder;
    text-decoration: underline;
}
.leftS4{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
hr{
    border: 1px solid black;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
}
.rightS4{
   width: 50%;
   margin-left: 100px;
}
.rightS4 img{
    width: 95% ;
    border-radius: 10px;
}
#box{
    background-color: rgb(249, 249, 49);
    height: 90px;
    width: 300px;
    margin: 30px;
    border: 4px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    transition: 0.6s;
}
#box a:hover{
    scale: 1.1;
    color: white;
}
/* section 4 done
section 5 start */
.section5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    padding-left: 80px;

}
.rightS5 div{
    height: 40px;
    width: 40px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.rightS5 div img{
    height: 80px;
    width: 80px;
    transition: 0.4s;
    mix-blend-mode: multiply;
}
.rightS5 div img:hover{
    scale: 1.1;
}
.rightS5 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s;

}
.rightS5 a:hover{
    color: orange;
    font-size: 1.4rem;
}
.social{
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.leftS5{
    width: 50%;
    margin-bottom: 40px;
    margin-left: 100px;
}
.leftS5 img{
    width: 80%;
}
.rightS5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-bottom: 300px;
    margin-right: 100px;
}
footer{
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
    flex-direction: row-reverse;
    padding-right: 50px;
}
footer img{
    width: 10%;
    margin-right: 20px;
}
.fflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    transition: 0.4s;
}
footer div:hover{
    scale: 1.01;
    color: orange;
}